.expensedate {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #ecf3ed;
    background-color: #b78d8d;
    color: rgb(254, 250, 250);
    border-radius: 12px;
    align-items: center;
    justify-content: center;
  }
  
  .expensemonth {
    font-size: 0.75rem;
    font-weight: bold;
  }
  
  .expenseyear{
    font-size: 0.75rem;
  }
  
  .expenseday {
    font-size: 1.5rem;
    font-weight: bold;
  }